body {
	background-color: gray;
}


#buttons-view {
	margin-bottom: 200px;
	display: inline-block;
}

#nintendo-form {
	margin-top: 10px;
	float: right;
	margin-bottom: 50px;
}


img {

	float: left;
	margin-right: 30px;
	margin-bottom: 30px;

}

p {
	float: left;
	margin-right: 30px;
	font-weight: bold;
}
